.SearchButton {
    width: 320px;
    height: 47px;
    top: 48px;
    left: 43px;
    border-radius: 26px;
    border: 1px solid #6A536A;
    background-color: white;
    color:#6A536A;
    padding: 10px;
    display: flex;
}
.Lens{
    margin-left: 30 px;
}
.Search{
    margin-left: 140px;
}
